<a href="https://colab.research.google.com/github/liuyang1230/python-practice/blob/main/Practice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello World!")

Hello World!

In [ ]:
a=3
b=4
print (a+b)

7

**Python** 学習練習
#Test 1
##Test 2

In [ ]:
a1=[2012,2013,2014]
b1=(2012,2013,2014)
print(a1[0])
print(b1[2])
a1[1]=2018
#b1[1]=2018
a1.append(2021)
#b1.append(2021)
print(a1,b1)

2012
2014
[2012, 2018, 2014, 2021] (2012, 2013, 2014)

In [ ]:
Year_list = {"Amy":1992, "Ben":1994}
print (Year_list["Amy"])
Year_list["Ben"] = 1993
print (Year_list)
Year_list["Jane"]=1999
print (Year_list)

1992
{'Amy': 1992, 'Ben': 1993}
{'Amy': 1992, 'Ben': 1993, 'Jane': 1999}

In [ ]:
def say_hello():
  print ("Hello world!")

In [ ]:
say_hello()

Hello world!

In [ ]:
def say(a):
  print ("Good {}!".format(a) )
say ("morning")
say ("evening")
say ('night')

Good morning!
Good evening!
Good night!

In [ ]:
def add(a,b):
  c=a+b
  return c

result1 = add(3,4)
print (result1)
result2 = add (7,8)
print (result2)

7
15

In [ ]:
glob_1=123

def show_number():
  loc_1=456
  print (glob_1,loc_1)

show_number()

123 456

In [ ]:
glob_2=123

def set_num():
  loc_2=456

print(set_num ())
#print (glob_2,loc_2)

None

In [ ]:
glob_value=123

def set_num():
  global glob_value
  glob_value=456
  return glob_value

print (set_num())

#print (glob_2,loc_2)

456

In [ ]:
name = "Henry"
def change_name ():
  global name
  name = "Smith"
  return name
def hello():
  print ("Hello {}! Nice to meet you!". format(change_name()))
hello()

Hello Smith! Nice to meet you!

In [ ]:
class Calc:
  def add(self, a, b):
    print (a+b)
  def multiply(self, a,b):
    print(a*b)
cl=Calc()
cl.add(2,3)
cl.multiply(4,5)

5
20

In [ ]:
class Hero:
  name = input("Input your name>>")
  hp=100
  def sleep(self,hours):
    print("{} slept for {} hours!".format(self.name,hours))
    self.hp+=hours
  
print ("Fantacy I ~Golden Hometown~")
h=Hero()
time=int(input("Input the time your slept>>"))
h.sleep(time)
#print(h.name)
print ("{}'s HP is {}.".format(h.name,h.hp))

Input your name>>Amy
Fantacy I ~Golden Hometown~
Input the time your slept>>6
Amy slept for 6 hours!
Amy's HP is 106.

In [ ]:
class Box:
  def set_number(self,n1,n2):
    self.num1=n1
    self.num2=n2

bx=Box()
bx.set_number(123,456)

print(bx.num1)
print(bx.num2)

bx.num1=999
print(bx.num1)

123
456
999

In [ ]:
class Dog:
  def set_dog(self,n,a):
    self.name=n
    self.age=a

dog1=Dog()
dog1.set_dog("Pochi",5)

dog2=Dog()
dog2.set_dog("Hachi",12)

dogs=[dog1,dog2]
#print(dogs)
for d in dogs:
  print(d.name,d.age)

Pochi 5
Hachi 12

In [ ]:
greetings="Good morning! Good night!"

with open("greetings.txt","w") as f:
  f.write(greetings)

In [ ]:
with open("some_greetings.txt","r") as f:
  print (f.read())

Good morning!
Good afternoon!
Good evening!
Good night!

#**__init__**メソッド

__init__は特殊なメソッドで、イニシャライザ、もしくはコンストラクタと呼ばれています。
このメソッドでは、インスタンスの生成時にインスタンスの初期設定を行うことができます。
以下のクラスでは、__init__メソッドでインスタンス変数aの初期設定を行っています。

In [ ]:
class Calc1:
  def __init__(self,a):
    self.a=a

  def add(self,b):
    print(self.a+b)

  def multiply(self,b):
    print (self.a*b)

In [ ]:
cl = Calc1(3)
cl.add(4)
cl.multiply(4)

7
12

In [ ]:
cl = Calc1(6)
cl.add(4)
cl.multiply(4)

10
24

このように、__init__メソッドを使えばインスタンスの生成時にインスタンスに値を渡すことができます。
そのため、何度も繰り返して使用したり、複数のメソッドで使う値があれば、__init__メソッドで設定するのが効率的になります。

#**__call__**メソッド
__call__メソッドは、インスタンス名を使って呼び出すことができます。
以下では、Calcクラスに__init__メソッドの他に__call__メソッドを実装しています。

In [ ]:
class Calc2:
  def __init__(self,a):
    self.a = a
  
  def __call__(self,c):
    print (self.a * c + c)
  
  def add(self,b):
    print(self.a+b)

  def multiply(self,b):
    print (self.a*b)

In [ ]:
cl = Calc2(3)
cl(6)

24

このように、__call__メソッドを使えばメソッド名を記述する必要が無くなります。
頻繁に用いる処理を__call__メソッドに記述しておくことで、コードの記述量が少なくて済むようになります。

#Exercise#

課題1
以下の、リストに奇数を格納し表示するコードを実行するとエラーが発生します。
問題箇所を修正し、実行してもエラーが発生しないようにしましょう。

In [ ]:
a = []
for i in range(0, 10):
    if i%2 == 1:
        a.append(i)

print (a)

[1, 3, 5, 7, 9]

課題2
以下の、インスタンスを2つ生成し、リストに格納して表示するコードを実行するとエラーが発生します。
問題箇所を修正し、実行してもエラーが発生しないようにしましょう。
なお、修正箇所は一箇所とは限りません。

In [ ]:
class Cat:
    def set_cat(self, n, a):
        self.name = n
        self.age = a
        
cat1 = Cat()
cat1.set_cat("Tama", 4)

cat2 = Cat()
cat2.set_cat("Hana", 14)

cats = [cat1, cat2]  # リストに格納
for c in cats:
    print(c.name, c.age)

Tama 4
Hana 14